{% extends 'layout.html' %}


{% block content %}
<ul class="snippet">
    {% for ntb in object_list %}
    <li>{{ ntb.id }})
      <a class="snippet" href="{% url "ntbook_edit" ntb.id %}">
        <pre>{{ ntb.name }}</pre></a>
        <a class="delete" href="{% url "ntbook_delete" ntb.id %}">delete</a>
    </li>
<hr>
    {% endfor %}
</ul>
{% endblock content%}

{% block meta %}
<ul class="meta">
{% for ntb in object_list %}
  {% if ntb.meta %}
  <li> <a class="meta" href="{% url "ntbook_edit" ntb.id %}">
      {{ ntb.meta }}</a>
  </li>
{% endif %}
{% endfor %}
</ul>

{% endblock meta%}
