{% load static from staticfiles %}

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ntbook - a simple desktop code snippet database app</title>
    <link rel = "stylesheet" type = "text/css" href = "{% static 'css/ntb.css' %}" />

    {# using the cdn version of highlightjs for syntax highlighting of the code snippets #}
    <link rel="stylesheet"
        href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">

    <body style="">
        <div class="page-container">

            <h2 class="fullsize">
               ntbook - a simple desktop code snippet database app
            </h2>

            <h2 class="smallsize">
              ntbook - desktop code snippet database
           </h2>
            <hr />

            <div class="panel-container">

                <div class="panel-left" >
                  meta:<p><br>
                    {% block meta %}{% endblock%}
                </div>

                <div class="splitter">
                </div>

                <div class="panel-right">
                  Code snippets: <p><br>{% block content %}{% endblock content%}
                </div>

            </div>     {# panel-container #}


            <hr />

            <div class="panel-bottom">
              <div class="tags">tags:  </div>
                {% block tags %}{{ tags }}{% endblock%}
              <div class="nav">
                  <button type="button" class="button"

              onclick="location='{% url "ntbook_new" %}'">Create</button>
                  <button type="button" class="button">?</button>
                  <button type="button" class="button">Search</button>
              </div>

            </div>

        </div>  {# page-container #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="{% static 'js/jquery-resizeable.js' %}" type="text/javascript" charset="utf-8"></script>
        <script src="{% static 'js/ntb.js' %}" type="text/javascript"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
        
    </body>
    </html>
